#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-landing-top {
  width: 100vw;
  height: 65vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.page-landing-bottom {
  width: 100vw;
  height: 35vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-text-in-white);
  background: var(--color-background);
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}
.user-info p {
  font-size: 1.6rem;
  font-weight: 500;
}

.login-button {
  display: flex;
  width: 4rem;
  height: 4rem;
  border: 0;
  background: var(--color-primary-dark);
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: var(--color-text-in-primary);
}

.login-button:hover {
  background-color: var(--color-primary-darker);
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container img {
  height: 10rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.hero-image {
  width: 100%;
}

.welcome-text {
  display: flex;

  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;

  text-decoration: none;
  color: var(--color-button-text);
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a img {
  width: 4rem;
  margin-right: 2.4rem;
}

.buttons-container a.study {
  background-color: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
  background: var(--color-secondary);
}

.buttons-container a.give-classes:hover {
  background: var(--color-secondary-dark);
}

.buttons-container a.study:hover {
  background-color: var(--color-primary-light);
}

.total-connections {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-right: 20px;
}

.total-connections img {
  margin-left: 0.8rem;
}

@media (min-width: 1100px) {
  #page-landing-container {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo hero hero";
  }

  #page-landing-container-footer {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "welcome total buttons buttons";
  }

  .logo-container {
    grid-area: logo;
    align-self: center;
    margin: 0;
  }

  .logo-container {
    text-align: initial;
    font-size: 3.6rem;
  }

  .logo-container img {
    height: 100%;
  }

  .hero-image {
    grid-area: hero;
  }

  .buttons-container {
    grid-area: buttons;
    justify-self: start;
    justify-content: flex-start;
  }

  .buttons-container a {
    font-size: 2.4rem;
    width: 25rem;
  }

  .total-connections {
    grid-area: total;
    justify-self: end;
  }

  .welcome-text {
    grid-area: welcome;
    justify-self: start;
  }
}
